/* Navigation Wrapper */
.navigation-wrapper {
    width: 100%;
    height: 80px;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo Wrapper */
.navigation-wrapper > .logo-place {
    display: flex;
    align-items: center;
    gap: 30px;
}

/* Logo Image wrapper */
.navigation-wrapper > .logo-place img {
    height: 35px;
    width: auto;
    margin: 0 25px;
}

/* Links Place */
.navigation-wrapper > .logo-image-links-wrapper > .links-place {
    width: 450px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
}

/* Explore Word Features */
.navigation-wrapper > .logo-image-links-wrapper > .links-place > .explore-message {
    font-weight: 800;
    color: #f4e187;
}

/* Links Place - Links Wrapper */
.navigation-wrapper > .logo-image-links-wrapper > .links-place > .links-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Pens-Projects-Posts & Collections Links Features */
.navigation-wrapper > .logo-image-links-wrapper > .links-place > .links-wrapper > .nav-link a {
    font-weight: 900;
    color: white;
    text-decoration: none;
    font-size: 1.15em;
}

/* Nav Link 2nd Color */
.navigation-wrapper > .logo-image-links-wrapper > .links-place > .links-wrapper > .nav-link a:hover {
    color: #acacac;
}

/* Spark Link Features*/
.navigation-wrapper > .logo-image-links-wrapper > .links-place > .links-wrapper > .spark-chevron a {
    font-weight: 700;
    font-size: 1.1em;
    color: #acacac;
    text-decoration: none;
}

/* Spark 2nd Color */
.navigation-wrapper > .logo-image-links-wrapper > .links-place > .links-wrapper > .spark-chevron a:hover {
    color: #c6c6c6;
}

/* Spark other features */
.navigation-wrapper > .logo-image-links-wrapper > .links-place > .links-wrapper > .spark-chevron i {
    margin-left: 10px;
    font-size: 0.8em;
}

/* Login & SignUp Features */
.navigation-wrapper > .login-signup-wrapper {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    margin-right: 5px;
}

/* Magnifying Glass Icon Features */
.navigation-wrapper > .login-signup-wrapper > .glass-icon a {
    color: #7b7e8b;
    font-size: 2em;
    margin: 0 10px;
}

/* Magnifying Glass Icon 2nd Color */
.navigation-wrapper > .login-signup-wrapper > .glass-icon a:hover {
    color: #acacac;
}